<h2>List of Works</h2>
<section class="left-margin">
  <h3>Albums</h3>
  <%= render partial: "all_works", locals: { category: "album" } %>
</section>

<section class="left-margin">
  <h3>Books</h3>
  <%= render partial: "all_works", locals: { category: "book" } %>
</section>

<section class="left-margin">
  <h3>Movies</h3>
  <%= render partial: "all_works", locals: { category: "movie" } %>
</section>