// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-details, .left-margin {
  margin-left: 1rem;
}

h2, th {
  font-weight: 700;
}

.log-in {
  margin-top: 1rem;
}