// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  margin: 1rem;
}

h2 {
  color: #26A69A;
  font-weight: bold;
  margin-left: 1rem;
}